= form_with(model: section, local: true) do |form|
  - if section.errors.any?
    #error_explanation
      h2
        = pluralize(section.errors.count, "error")
        |  prohibited this section from being saved:
      ul
        - section.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :duration
    = form.number_field :duration
  .field
    = form.label :start_at
    = form.text_field :start_at
  .field
    = form.label :teacher_id
    = form.text_field :teacher_id
  .field
    = form.label :subject_id
    = form.text_field :subject_id
  .field
    = form.label :room_id
    = form.text_field :room_id
  .actions
    = form.submit
